@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-red: #f03c42;
    --color-blue: #222374;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #cccccc;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
    background-color: var(--color-red);
    color: var(--color-white);
    height: 100px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 30px;
    width: 30px;
}

.header a {
    font-size: 14px;
    width: 85px;
}

nav h1 {
    font-size: 18px;
    width: 99px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

#space {
    background-color: var(--color-blue);
    padding-bottom: 20px;
}

#space h2 {
    color: var(--color-white);
    font-size: 32px;
    padding: 20px 0;
}

.space-card {
    display: flex;
    margin-bottom: 20px;
}

.space-card-description {
    background-color: var(--color-gray);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.space-card-description h3 {
    font-size: 20px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.space-card-description p {
    font-size: 14px;
    color: var(--color-black);
}

#modalities {
    background-color: var(--color-white);
}

#modalities h2 {
    color: var(--color-red);
    font-size: 32px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.modalities-card {
    border-radius: 8px;
    height: 106px;
    margin-bottom: 20px;
}

.modalities-card-description {
    background-color: var(--color-blue);
    border-radius: 8px;
    padding: 20px;
}

.modalities-card-description h3 {
    color: var(--color-white);
    font-size: 20px;
    margin-bottom: 10px;
}

.modalities-card-description p {
    color: var(--color-gray);
    font-size: 14px;
    margin-top: 10px;
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    padding: 60px;
}

footer img {
    width: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.footer-content {
    text-align: center;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

#address {
    margin-top: 30px;
}